### Name: Joy
### UNI: yk2949

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/bocowgill-collaborations/ResearchMethods-Repository/master/HW1/assignment1-research-methods.csv", sep="\t")
df.head()

,candidateid,calledback,recruiteriswhite,recruiterismale,MaleCandidate,EliteSchoolCandidate,BigCompanyCandidate
0,2,0,0,0,1,0,0
1,14,0,0,0,1,0,1
2,3,0,0,0,0,1,0
3,7,1,0,0,0,1,0
4,13,0,0,0,0,0,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   candidateid           864 non-null    int64
 1   calledback            864 non-null    int64
 2   recruiteriswhite      864 non-null    int64
 3   recruiterismale       864 non-null    int64
 4   MaleCandidate         864 non-null    int64
 5   EliteSchoolCandidate  864 non-null    int64
 6   BigCompanyCandidate   864 non-null    int64
dtypes: int64(7)
memory usage: 47.4 KB

In [4]:
df.describe()

,candidateid,calledback,recruiteriswhite,recruiterismale,MaleCandidate,EliteSchoolCandidate,BigCompanyCandidate
count,864.000000,864.000000,864.000000,864.000000,864.00000,864.00000,864.00000
mean,24.500000,0.656250,0.574074,0.166667,0.50000,0.50000,0.50000
std,13.861423,0.475234,0.494769,0.372894,0.50029,0.50029,0.50029
min,1.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000
25%,12.750000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000
50%,24.500000,1.000000,1.000000,0.000000,0.50000,0.50000,0.50000
75%,36.250000,1.000000,1.000000,0.000000,1.00000,1.00000,1.00000
max,48.000000,1.000000,1.000000,1.000000,1.00000,1.00000,1.00000

In [5]:

import statsmodels.api as sm
import statsmodels.formula.api as smf


lm = smf.ols(formula = 'calledback~recruiteriswhite + recruiterismale + MaleCandidate + EliteSchoolCandidate + BigCompanyCandidate', data = df).fit()
print (lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             calledback   R-squared:                       0.037
Model:                            OLS   Adj. R-squared:                  0.031
Method:                 Least Squares   F-statistic:                     6.593
Date:                Thu, 27 Oct 2022   Prob (F-statistic):           4.94e-06
Time:                        00:19:55   Log-Likelihood:                -566.40
No. Observations:                 864   AIC:                             1145.
Df Residuals:                     858   BIC:                             1173.
Df Model:                           5
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Intercept                0.5329      0.037     14.405      0.000       0.460       0.605
recruiteriswhite         0.0352      0.033      1.074      0.283      -0.029       0.099
recruiterismale          0.0706      0.043      1.625      0.105      -0.015       0.156
MaleCandidate           -0.0440      0.032     -1.382      0.167      -0.106       0.018
EliteSchoolCandidate     0.1366      0.032      4.292      0.000       0.074       0.199
BigCompanyCandidate      0.0903      0.032      2.837      0.005       0.028       0.153
==============================================================================
Omnibus:                     8059.972   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              131.499
Skew:                          -0.622   Prob(JB):                     2.79e-29
Kurtosis:                       1.549   Cond. No.                         4.48
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [7]:

lm = smf.ols(formula = 'calledback~recruiteriswhite + recruiterismale + MaleCandidate + recruiterismale*MaleCandidate + EliteSchoolCandidate + BigCompanyCandidate', data = df).fit()
print (lm.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             calledback   R-squared:                       0.039
Model:                            OLS   Adj. R-squared:                  0.032
Method:                 Least Squares   F-statistic:                     5.796
Date:                Thu, 27 Oct 2022   Prob (F-statistic):           6.24e-06
Time:                        00:23:24   Log-Likelihood:                -565.51
No. Observations:                 864   AIC:                             1145.
Df Residuals:                     857   BIC:                             1178.
Df Model:                           6
Covariance Type:            nonrobust
=================================================================================================
                                    coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
Intercept                         0.5234      0.038     13.900      0.000       0.449       0.597
recruiteriswhite                  0.0352      0.033      1.075      0.283      -0.029       0.099
recruiterismale                   0.1275      0.061      2.094      0.037       0.008       0.247
MaleCandidate                    -0.0250      0.035     -0.717      0.473      -0.093       0.043
recruiterismale:MaleCandidate    -0.1139      0.085     -1.334      0.182      -0.281       0.054
EliteSchoolCandidate              0.1366      0.032      4.293      0.000       0.074       0.199
BigCompanyCandidate               0.0903      0.032      2.838      0.005       0.028       0.153
==============================================================================
Omnibus:                     8040.885   Durbin-Watson:                   2.007
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              130.745
Skew:                          -0.618   Prob(JB):                     4.07e-29
Kurtosis:                       1.549   Cond. No.                         9.38
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Results interpretation

On average, when all othe rconditions are controlled, being an elite school candiate (vs. not) increase the probability of call back by 0.1336, which is statistically significant (p<.001). 

At first, I thoght that same sex between recruiter and candidate will increase the probability of getting a call back. However, the beta coefficient for the correlation is negative (-0.1139) and this is not statistically significant (p-value is 0.182). So the data shows that there is no advantage of being a male candidate with a male recruiter.